@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap");

/* Global styles */

body {
  color: black;
  font-family: "Ancizar Sans", Arial;
  background: #04c4fb;
  text-align: center;
}

header {
  padding: 1rem 4rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  width: 50%;
  margin: 2rem auto 0 auto;
}

nav {
  margin: 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee1f;
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

main {
  height: 8rem;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 2rem auto 20rem;
}
/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 1rem;
}

h1 {
  font-family: Merriweather, Arial;
  font-weight: bold;
}

/* End of Typography */

/* Layout */

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border: #00000017 solid 0.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 1em;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#temperature,
#weather-code,
#wind-speed {
  display: grid;
  text-shadow: 0px 1px 4px #00000017;
  align-content: center;
  justify-content: center;
  font-size: 2.5rem;
  margin: 2rem auto 0 auto;
  padding: 1rem 2rem;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  height: 100%;
}

#sun {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -100px;
  left: -100px;
  z-index: -1;
  background-color: #f9d71c;
  box-shadow: 0 0 100px #f9d71c;
  border-radius: 50%;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #000000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0 1rem 1rem;
}
nav li {
  text-decoration: none;
  color: black;
  font-family: Arial;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #a7a7a763;
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

nav li:hover {
  background-color: #a7a7a7;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

nav li a:visited,
nav li a:link {
  color: black;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End of Layout */

/* End of Global Styles */

/* Media Queries*/

/* Tablets */
@media (min-width: 600px) {
  #temperature,
  #weather-code,
  #wind-speed {
    align-content: center;
    justify-content: center;
    margin: 2rem;
    height: 8rem;
    width: 400px;
    align-self: center;
    top: 50%;
  }
}

/* Larger Than Tablets */
@media (min-width: 1000px) {
  header {
    width: 40%;
    height: 10%;
    margin: auto;
    align-content: center;
    justify-content: center;
  }
  main {
    align-content: center;
    justify-content: center;
    width: 50%;
    margin: 2rem auto 20rem;
  }
  #temperature,
  #weather-code,
  #wind-speed {
    align-content: center;
    justify-content: center;
    margin: 0.25rem 2rem;
  }
}
